.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  margin: auto;
  font-weight: normal;
  padding: 0 1rem;
}

.title {
  line-height: 1.25;
  font-size: 3rem;
  margin: 0;
}

.section {
  padding: 2rem 0rem;
  margin: 0;
}

.section-02 {
  padding: 1rem 0rem;
  margin: 0;
}

.section-00 {
  padding: 0;
  margin: 0;
}

@media (max-width: 400px) {
  .title {
    font-size: 3rem;
  }
}
